{% extends 'base.html' %}
{% block title %}TITLE{% endblock %}

{% block content %}
<header class="jumbotron jumbotron-fluid mb-0" id="landing" style="size: 4000px">
    <div class="container-fluid text-center">
       <h1 class="display-3">Welcome to Great Clips</h1>
       <p href="#">Made on a Calculator. <a class="article-link" href="www.google.com">Read the Paper</a></p>
       <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Run Models
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{ url_for('switcher', option='ml') }}">Machine Learning</a>
          <a class="dropdown-item" href="{{ url_for('switcher', option='docking') }}">Docking</a>
          <a class="dropdown-item" href="{{ url_for('switcher', option='mldocking') }}">Machine Learning and Docking</a>
        </div>
      </div>
</div>
    </div>
</header>
    <div class="models-text">
      <h2 style="font-family: Arial, Helvetica, sans-serif;">Our Models</h2>
    </div>

    <div class="card">
      <div class="card-header">
        File Types:
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Machine Learning</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, Tanay smells bad adipiscing elit. Quisque semper ultrices euismod. Proin consequat est ac elit interdum</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" class="btn btn-primary">Run Model</button>
          </div>
        </div>

      </div>

    </div>
    <div class="card">
      <div class="card-header">
        File Types:
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Machine Learning and Docking</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque semper ultrices euismod. Proin consequat est ac Tanay smells bad interdum</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" class="btn btn-primary">Run Model</button>
          </div>
        </div>

      </div>

    </div>
    <div class="card">
      <div class="card-header">
        File Types:
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Decoy</h3>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur Tanay smells bad elit. Quisque semper ultrices euismod. Proin consequat est ac elit interdum</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" class="btn btn-primary">Run Model</button>
          </div>
        </div>

      </div>

    </div>
    <div class="card">
      <div class="card-header">
        File Types:
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Custom Structure</h3>
            <p class="card-text">Lorem ipsum Tanay smells bad sit amet, consectetur adipiscing elit. Quisque semper ultrices euismod. Proin consequat est ac elit interdum</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" class="btn btn-primary">Run Model</button>
          </div>
        </div>

      </div>

    </div>
{% endblock %}
