{% extends 'base.html' %}
{% block title %}TITLE{% endblock %}

{% block content %}
<script>
    $(document).ready(function() {
        document.getElementById("nav").remove()
    });
</script>
<header class="jumbotron jumbotron-fluid mb-0" id="landing" style="size: 4000px">
    <div class="container-fluid text-center">
       <h1 class="display-3">Ensemble Docking & ML</h1>
       <p href="#">Credits. <a class="article-link" href="https://onlinelibrary.wiley.com/doi/abs/10.1002/prot.25899" target="_blank">Read the Paper</a></p>
       <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Run Models
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{ url_for('switcher', option='ml') }}">Machine Learning</a>
          <a class="dropdown-item" href="{{ url_for('switcher', option='docking') }}">Docking</a>
          <a class="dropdown-item" href="{{ url_for('switcher', option='mldocking') }}">Machine Learning and Docking</a>
        </div>
      </div>
</div>
    </div>
</header>
<body style="margin-bottom: 3rem">
    <div class="models-text">
      <h2 style="font-family: Arial, Helvetica, sans-serif;">Our Models</h2>
    </div>

    <div class="card">
      <div class="card-header">
        Input: Affinity scores for the protein's selected structures.
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Machine Learning</h3>
            <p class="card-text">Write in previously docked affinity scores for the structure of a specific protein and run machine learning models to determine whether the drug candidate / ligand is likely to be in the 'active' or 'decoy' group.</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" class="btn btn-primary" onclick="{{ url_for('switcher', option='ml') }}">Run Model</button>
          </div>
        </div>

      </div>

    </div>
    <div class="card">
      <div class="card-header">
        Input: .pdbqt file
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Machine Learning and Docking</h3>
            <p class="card-text">Upload a .pdbqt file for a ligand and select the protein that it should dock to. Then, the program will dock the protein using Vina and run machine learning models to determine whether the drug candidate / ligand is likely to be in the 'active' or 'decoy' group.</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" onclick="{{ url_for('switcher', option='mldocking') }}" class="btn btn-primary">Run Model</button>
          </div>
        </div>

      </div>

    </div>
    <div class="card">
      <div class="card-header">
        Input: .pdbqt file
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Docking</h3>
            <p class="card-text">Upload a .pdbqt file for a ligand and the protein will dock it to multiple structures for a given protein and return affinity scores.</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" onclick="{{ url_for('switcher', option='docking') }}" class="btn btn-primary">Run Model</button>
          </div>
        </div>

      </div>

    </div>
    <div class="card">
      <div class="card-header">
        File Types:
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h3 class="card-title">Custom Structures</h3>
            <p class="card-text">Lorem ipsum doler sit amet, consectetur adipiscing elit. Quisque semper ultrices euismod. Proin consequat est ac elit interdum</p>
          </div>
          <div class="col col-md-auto">
            <button style="margin-top: 10%" class="btn btn-primary">Run Model</button>
          </div>
        </div>

      </div>

    </div>
</body>
{% endblock %}
