{% extends 'base.html' %}
{% block title %}Models{% endblock %}

{% block content %}
    <script>
        function validateProtein(id) {
            protein = document.getElementById(id)
            if (protein.value == "Select Protein...") {
                protein.classList.add("is-invalid")
            } else {
                if (protein.classList.contains("is-invalid")) {
                    protein.classList.replace("is-invalid", "is-valid")
                } else {
                    protein.classList.add("is-valid")
                }
            }
        }

        function validateLigand(id) {
            let ligand = document.getElementById(id)
            if (ligand.value.toString().indexOf(".pdbqt") == -1) {
                if (ligand.classList.contains("is-valid")) {
                    ligand.classList.remove("is-valid")
                }
                ligand.classList.add("is-invalid")
                document.getElementById("file-valid1").style.visibility = "visible"
                document.getElementById("filediv").style.marginBottom = "2rem"
            } else {
                document.getElementById("filediv").style.marginBottom = "1rem"
                console.log(ligand.classList.contains("is-invalid"))
                if (ligand.classList.contains("is-invalid")) {
                    ligand.classList.remove("is-invalid")
                }

                ligand.classList.add("is-valid")

                document.getElementById("file-valid1").style.visibility = "hidden"

            }

        }
        function validate1() {
            if (document.getElementById("protein").classList.contains("is-valid")
                && document.getElementById("ligand").classList.contains("is-valid")) {
                document.getElementById("submit0").disabled = false
                document.getElementById("submit").disabled = false
            } else {
                document.getElementById("submit0").disabled = true
                document.getElementById("submit").disabled = true
            }
        }

        function validate2() {
            if (document.getElementById("protein2").classList.contains("is-valid")) {
                document.getElementById("submit2").removeAttribute("disabled")
                document.getElementById("submit5").removeAttribute("disabled")
                document.getElementById("submit6").removeAttribute("disabled")
            }
        }

        function validate3() {

        }

        $('body').on('change', "#ligand", function(){
                console.log("activated...!")
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                fileName = fileName.replace('C:\\fakepath\\', " ");
                $(this).next('.custom-file-label').html(fileName);
        })

        $(document).ready(function() {
            console.log("Hello")
            localStorage.setItem("option", "{{ option }}")
        });

    </script>
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if option == 'ml' }}" style="margin-left: 2rem; margin-top: 2rem;" href="{{ url_for('switcher', option='ml') }}">Machine Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if option == 'docking' }}" style="margin-top: 2rem;" href="{{ url_for('switcher', option='docking') }}">Docking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if option == 'mldocking' }}" style="margin-top: 2rem;" href="{{ url_for('switcher', option='mldocking') }}">ML and Docking</a>
        </li>
    </ul>
    <hr>

    {% if option != "ml" %}
    <form method="POST" onchange="validate1()" name="mldocking" style="padding: 2rem" action="{{ url_for('run') }}" enctype="multipart/form-data">
        <div class="form-group">
        <select onchange="validateProtein('protein')" name="protein" id="protein" class="custom-select">
          <option selected="true" disabled="disabled">Select Protein...</option>
            {% for item in proteins %}
              <option value="{{item}}">{{ item }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="data-bv-file-type custom-file" id="filediv" style="margin-bottom: 1rem">
            <input onchange="validateLigand('ligand')" name="ligand" type="file" class="custom-file-input" id="ligand"/>
            <label class="custom-file-label" for="ligand">Choose file...</label>
            <div id="file-valid1" style="visibility: hidden" class="text-danger">Must be of File Type .pdbqt</div>
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" disabled="disabled" id="submit" class="btn btn-secondary"
                    onclick="localStorage.setItem('linear', true), localStorage.setItem('option', '{{ option }}')">Run Linear Models</button>
            <button type="submit" disabled="disabled" id="submit0" class="btn btn-danger"
                    onclick="localStorage.setItem('linear', true), localStorage.setItem('option', '{{ option }}')">Run All Models*</button>
        </div>
    </form>
    {% endif %}

<!--    {% if option == "docking" %}-->
<!--        Docking-->
<!--    {% endif %}-->
    {% if option == 'ml' %}
        <form style="padding: 2rem" onchange="validate2()">
            <div class="form-group">
            <select onchange="validateProtein('protein2')" required name="protein2" id="protein2" class="custom-select" >
              <option selected="true" disabled="disabled">Select Protein...</option>
                {% for item in proteins %}
                  <option value="{{item}}">{{ item }}</option>
                {% endfor %}
            </select>
            </div>
        <button type="button" disabled="disabled"
                onclick="getStructures(document.getElementById('protein2').value);"
                id="submit2" class="btn btn-primary">Find Structures</button>
        <div style="float:right" class="btn-group" role="group" aria-label="Basic example">
            <button type="button" disabled="disabled" id="submit5" class="btn btn-success" onclick="getSampleScores('active', document.getElementById('protein2').value)">Use Sample Active Scores</button>
            <button type="button" disabled="disabled" id="submit6" class="btn btn-info" onclick="getSampleScores('decoy', document.getElementById('protein2').value)">Use Sample Decoy Scores</button>
        </div>
        </form>
        <form enctype="multipart/form-data" onchange="validate3()" method="POST" style="padding: 2rem" disabled="true">
            <div class="form-group">
                <label for="textarea">Structure Object - Create a JSON Object in the Correct Order</label>
                <textarea disabled="disabled" class="form-control" id="textarea" rows="3"></textarea>
            </div>
            <br>
            <p>Or enter affinity scores individually for each structure (must submit protein to see structures)</p>
            <div id="smalltextbox" class="row">
              
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" disbaled="disabled" id="submit4" class="btn btn-secondary" onclick="submitAffinity(document.getElementById('textarea').value, true)">Run Linear Models</button>
                <button type="button" disabled="disabled" id="submit3" class="btn btn-danger" onclick="submitAffinity(document.getElementById('textarea').value, false)">Run All Models*</button>
            </div>
            <br>
            <br>
            <p>*Running all models will take more time. Linear models work well for large datasets</p>
        </form>
    {% endif %}
{% endblock %}