{% extends 'base.html' %}
{% block title %}Models{% endblock %}

{% block content %}
    <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if option == 'ml' }}" style="margin-left: 2rem; margin-top: 2rem;" href="#">Machine Learning</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if option == 'docking' }}" style="margin-top: 2rem;" href="#">Docking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if option == 'mldocking' }}" style="margin-top: 2rem;" href="#">ML and Docking</a>
        </li>
      </ul>
    {% if option == "ml" %}
    <hr>
    <form method="POST" style="padding: 2rem" action="{{ url_for('run') }}", enctype="multipart/form-data">
        <div class="form-group">
        <select name="protein" id="protein" class="custom-select" required>
          <option selected="true" disabled="disabled">Select Protein...</option>
            {% for item in proteins %}
              <option value="{{item}}">{{ item }}</option>
            {% endfor %}
        </select>
        </div>
        <div class="form-group">
            <div class="custom-file">
                <input name="ligand" type="file" class="custom-file-input" id="ligand">
                <label class="custom-file-label" for="ligand">Choose file...</label>
            </div>
            <script>
                $(".custom-file-input").on("change", function() {
                  var fileName = $(this).val().split("\\").pop();
                  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>
        </div>
    <button style="margin-top: 1%; margin-left: 1.5%;" id="submit1" class="btn btn-primary" type="submit">Submit</button>
    </form>
    {% endif %}

    {% if option == "docking" %}
        Docking
    {% endif %}
    {% if option == 'mldocking' %}

    {% endif %}
{% endblock %}